body,
html {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
}

.card-header {
  background-color: #f8f9fa;
  text-align: center;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.payment-confirmation {
  position: fixed;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.popup {
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.hidden {
  display: none;
}
